* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e6e6e6;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: #ffffff;

  padding: 40px 40px;
  border-radius: 10px;
}

.form-heading {
  font-size: xx-large;
  font-weight: 600;
  text-align: center;
}

.form-body {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

label {
  display: block;
  margin-bottom: 12px;
  font-size: larger;
  font-weight: 600;
}

.row {
  width: 100%;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 16px;
}

input {
  /* max-width: 350px; */

  padding: 10px;
  font-size: larger;
  border: 3px solid #e0e0e0;
  border-radius: 10px;
}

button {
  width: 100%;
  border: 0;
  background: black;
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 0;
  border-radius: 10px;
}
input:focus {
  outline: 0;
  border: 3px solid black;
  border-radius: 10px;
}

select {
  padding: 10px;
  font-size: larger;
  background: white;
  border: 3px solid #e0e0e0;
  border-radius: 10px;
  flex: 1;
  display: block;
  width: 100%;
}

.selectContainer {
  display: flex;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.fa-calendar {
  font-size: 42px;
}

.col1 {
  width: 100%;
}

/* @media screen and (max-width: 1265px) {
  input {
    max-width: 200px;
  }
} */
@media screen and (max-width: 1254px) {
  input {
    display: block;
    width: 100%;
  }
  .col {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  body {
    height: initial;
  }
  select {
    font-size: small;
  }
  .fa-calendar {
    font-size: 22px;
  }
}
